:root {
    scroll-behavior: smooth;
    --main-color: #8e7e0c;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(50% 535.81% at 50% 50%, #181818 0%, #0c0c0c 100%);
    color: #fff;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollBar {
    position: fixed;
    right: 0;
    top: 50%;
    margin-right: 40px;
    margin-top: auto;
    transform: translateY(-50%);
}

.scrollItem {
    background-color: #484848;
    height: 80px;
    width: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.scrollBar .active {
    background-color: var(--main-color);
}

nav {
    backdrop-filter: blur(25px);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navMenu {

    display: flex;
    flex-basis: 104%;
    max-width: 30%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.navMenu span {
    padding: 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.navMenu span:hover {
    background-color: #484b5b;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navMenu .active {
    border-bottom: 3px solid var(--main-color);
}

section {
    height: 100vh;
    padding: 100px;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .profil {
    background: radial-gradient(50% 535.81% at 50% 50%, #303030 0%, #1C1C1C 100%);
}

.skills {
    background-color: #28c7fa;
}

.experiences {
    background-color: #f85959;
}

.hobbies {
    background-color: #107a8b;
}

.contact {
    background-color: #fd0054;
} */

h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5em;
    margin: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
    text-align: justify;
}